#map-search-field {
    position: absolute;
    width: 40%;
    left: 30%;
    top: 10px;
    border: 0 solid white;
    border-radius: 2px;
    box-shadow: 0px 1px 4px -1px rgba(50,50,50,0.8);
    background: white;
    height: 40px;
    z-index: 1; /* to be above the map */
    display: inline-flex;
}

#map-search {
    outline: none;
    margin-left: 5%;
    width: 90%;
    height: 90%;
    border: none;
    font-family: Roboto;
    font-size: 11pt;
    border-radius: 2px;
}

#map-search-bt {
    width: 10%;
    padding-top: 7px;
    padding-left: 13px;
    position: relative;
}

#map-search-bt:hover {
    cursor: pointer;
    background: rgba(200, 200, 200, 0.2);
}


#map {
    margin: 0;
    width: 100%;
    height: 100vh;
}

#map-reservoir-search-results {
    width: 40%;
    position: absolute;
    top: 50px;
    left: 30%;
    border-radius: 2px;
    z-index: 1;
}
