body {
    background: url('../img/back_login.jpg') center / cover fixed;  
}

.transparency {
    background: rgba(1, 1, 5, 0.7);
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
    width: 100%; height: 120%;
}

.main {
    width: 100vh;
    padding: 0;
    height: 100vh;
}

#login-section {
    text-align: center;
    width: 40vw;
    margin-left: 30vw;
    margin-right: 30vw;
    margin-top: 100px;
    background: white;
    padding: 50px 0px;
    box-shadow: 0px 2px 3px 0px rgba(50,50,50,0.8);
    border-radius: 2px;
}

#login-section-grid {
    height: 100%;
    width: 100%;
}

#login-section div {
    display: block;
    margin: auto;
    text-align: center;
}

#username-field, #password-field {
    width: 150% !important; 
    max-width: none;
    right: 25%;
}

#username, #password { 
    border-color: #505050;
}

#bt-login {
    margin-top: 35px;
    margin-bottom: 20px;
    background: #508498;
    color: white;
}

footer {
    margin-top: 0;
}

#login-text {
    font-family: "Roboto Slab";
    font-weight: bold;
    font-size: 30pt;
    margin-bottom: 100px;
}

#link-intro-page {
    position: absolute;
    top: 15px; left: 20px;
    width: 200px; height: 50px;
    text-decoration: none;
    font-weight: medium;
    color: white;
    font-family: "Roboto Slab"
}

#link-intro-page img {
    width: 90%; height: 90%;
}

#app-title {
    font-family: "Roboto Slab";
    padding: 15px 0;
}

