header {
    display: inline-flex;
    width: 100%;
    background: #505050;
    height: 80px;
}

#reservoir-name {
    margin-left: 10px;
    color: white;
}

#header-buttons {
    position: relative;
    top: 15px; right: 20px;
}
#header-buttons button {
    color: white;
}

#reservoir-info-section {
    height: 350px;
}

.reservoir-info-val {
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0px 0.2px 1px 0px rgba(0,0,0,0.75);
}

.reservoir-info-val-desc {
    font-size: 10pt;
    font-family: "Roboto";
    width: 100%;
}

.reservoir-info-val-val {
    font-size: 11pt;
    font-weight: bold;
    font-family: "Roboto";  
}

.reservoir-info-no-data {
    font: bold;
    color: #ff3010;
    font-size: 12pt;
}

#reservoir-animation {
    width: 100%;
    height: 100%;
}

#reservoir-data-history-section > .mdl-section { width: 95%; }
#reservoir-data-history-section > .chart-grid { height: 350px !important; }


input[type='date'] {
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 2px;
}

#xDimField {
    display: inline-flex;
    max-width: none !important;
    width: 200px !important;
}

#reservoir-pics {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#reservoir-pics img {
    
}

#img-change-bt-left, #img-change-bt-right {
    position: absolute;
    top: 30vh;
}

#img-change-bt-left { left: 0; }
#img-change-bt-right { right: 0; }